* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

html{
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;
    /* display: flex; */
    justify-content: center;
}

h1{
    margin-bottom: 20px;
}

p{
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
}


header{
    z-index: 1;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    background: rgb(225, 6, 0);
    width: 100%;
    height: 11%;
}

.logo{
    width: 70%;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    width: 275px;

    display: flex;
    flex-direction: column;
}

nav {
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;    
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 30%;
}
  
nav ul li {
    float: left;
}
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav ul li a:hover:not(.active) {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
.pagina {
    font-weight: bold;
}

.acasa{
  height: 66px;
  width: 110px;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  background: url("/images/563849.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* carusel */
.slideshow-container {
  z-index: 0;
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 200px;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 65%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.slide-img{
    width: 100%;
    height: 520px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 10px 14px 14px 0 rgba(0, 0, 0, 0.6);
}

.subtitle{
  display: flex;
  justify-content: center;
  align-content: center;
  background: rgb(225, 6, 0);
  height: 80px;
  border-radius: 10px 10px 0 0;
}

.subtitlep{
  display: flex;
  align-items: center;
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 14px 16px;
}

section{
  margin: 200px auto 0 !IMPORTANT;
}

section article{
  background-color: white;
  border-radius: 0 0 10px 10px;
  padding: 50px;
  font-size: 20px;
  text-align: center;
}

section article h1{
  font-size: 1.6em;
}

section article h2{
  font-size: 1.2em;
}

/* tabel */
td{
  padding: 10px;
  text-align: center;
}

td img{
  float: left;
  margin: 3px;
  border: 1px solid black;
}


footer{
    display: flex;
    align-items: center;
    height: 11%;
    background: rgb(1, 4, 23);
}

footer p{
    color: white;
    font-size: 23px;
    text-align: center;
}